<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Hi <%= locals.userName ?? 'Undefined' %></h1>
        <h2>This should be working</h2>
        <p> <%= 2 + 2 %> </p>
        <!-- Scriptlet tag -->
        <%
            if (locals.userName === "Jeffrey") {
            console.log("Hi Jeffrey")
            } 
        %>

        <!-- Scriptlet Tag with html -->
        <% for (let i = 0; i < 8; i++) {%>
            <img width="200" src="book.png" alt="stack of magic books"> </img>
        <% } %>
    </body>
</html>